* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  --shadow: 0 3px 4px rgba(0,0,0,0.4);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
nav {
  padding: 0 2rem;
}

.conteiner{
  min-height: calc(100vh - 70px - 64px);
  padding: 1rem;
}

.movies{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1rem;
}

.title{
text-transform: uppercase;
letter-spacing: 4vw;
text-align: center;
text-shadow: var(--shadow);
}

.link {
  font-size: 2em;
  margin-right: 5vw;
}
  link:hover {
    text-shadow: var(--shadow)
  }

  label:active{
    color: rgb(196, 10, 10);
  }